@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.ttf");
}

.background{
    position: fixed;
    background-image: url("@/assets/img/espacio-nebulosa-background.png");
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
  } 
  
  #app{
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    font-family: 'Montserrat';
  }
  
  ::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}
  